<%= javascript_include_tag "main" %>
<%= javascript_include_tag "territory" %>

<div class="panel panel-info">

  <div class="panel-heading">
    <div class="panel-title">
      Территории, здания
      <a class="btn btn-primary btn-xs pull-right" role="button" data-toggle="modal" data-target="#mTerritoryNew" onclick="territory_new_show()"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <div class="clearfix"></div>

  </div>

  <div class="panel-body">

  </div>

</div>

<div id="territory_new_dialog"></div>