
<div class="modal fade" id="mTerritoryEdit" tabindex="-1" role="dialog" aria-labelledby="mTerritoryEdit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="mTerritoryEditLabel">Редактировать территорию</h4>
      </div>
      <div class="modal-body">
        <div><% params[:territory_id] %></div>
        <form class="form-horizontal" role="form" id="territory_new" name="territory_new">
            <fieldset>
              <div class="form-group">
                <label for="territory_name" class="col-sm-2 control-label">Наименование</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="territory_name" name="territory_name" placeholder="Наименование" value="<% @form_data[:a1] %>">
                </div>
              </div>

              <div class="form-group">
                <label for="territory_address" class="col-sm-2 control-label">Адрес</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="territory_address" name="territory_address" placeholder="Адрес">
                </div>
              </div>
            </fieldset>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" onclick="territory_new_save()">Сохранить</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
        </form>

      </div>
    </div>
  </div><
</div>